.content {
  background-color: #fff;
  margin-left: -40px;
  margin-right: 40px;
  min-height: 800px;
}

.backTop {
  background-color: rgba(20, 20, 20, 0.8);
  border-radius: 50%;
  box-shadow: 0 0 15px #d3d3d3;
  margin: 0 auto;
  left: 0;
  right: 0;
}